## Having Multilingual Plans

In [1]:
import os
os.chdir('..')
import asterisk as rx

In [2]:
Dog = rx.Concept('Q144')
Cat = rx.Concept('Q146')
Dog, Cat

(<class asterisk.wikidata.Q144 at 0x7f069ccc30b8>,
 <class asterisk.wikidata.Q146 at 0x7f069cdbcc18>)

In [3]:
dog = Dog({'name': u'Funny'})
dog

狗 ({'name': u'Funny'})

In [4]:
cat = Cat({'name': 'Curious'})
cat

housecat ({'name': 'Curious'})

In [5]:
import pandas as pd

In [6]:
pd.DataFrame({dog: [1,2,4], cat: [4,5,6]})

   狗  housecat
0  1         4
1  2         5
2  4         6

In [5]:
p = plandf.PlanMaker([
    ('time: 0.75~1.2[1.]@1h', 'cake: 1~2@1h'),
    ('time: 1.5@1h', 'sandwitch: 10@0.06h'),
])
p.df

                                                      input  \
Step #ID                                               time
0         {u'max_units': u'1.2', u'min_units': u'0.75', ...
1         {u'max_units': u'1.5', u'min_units': u'1.5', u...

                                                     output  \
Step #ID                                               cake
0         {u'max_units': u'2', u'min_units': u'1', u'pri...
1                                                       NaN


Step #ID                                          sandwitch
0                                                       NaN
1         {u'max_units': u'10', u'min_units': u'10', u'p...